<html>

<head>

<title>APP ALARMAS </title>

</head>

<body>

<!-- Código a visualizar -->


<h1> APLICACI&Oacute;N ALARMAS UCIP</h1>

<p> Esta aplicaci&oacute;n pretende ser una herramienta de consulta del sistema de alarmas implementado en el servicio UCIP del Hospital Sant Joan de D&eacute;u. 

<hr>

<ul>

<h3> Selecciona los datos que deseas filtrar:</H3>

<ul>

<form method="post" action="/upload/resultados/">
 {% csrf_token %}
 {{forms.as_p}}

<p>
	<input type="submit" value="Enviar">
    <input type="reset" value="Borrar">
</p>
</form>

<br> Acceso directo a <a href="http://intranet.hsjdbcn.org/" target="_blank">INTRANET</a>.

</p></div>

</body>

</html>