<HTML>

<HEAD>

<TITLE>APP ALARMAS </TITLE>

</HEAD>

<BODY>

<!-- Código a visualizar -->

<H1> APLICACI&Oacute;N ALARMAS UCIP</H1>

<P> Esta aplicaci&oacute;n pretende ser una herramienta de consulta del sistema de alarmas implementado en el servicio UCIP del Hospital Sant Joan de D&eacute;u. 

<HR>

<UL>

<H3> Selecciona los datos que deseas filtrar:</H3>

<UL>

<BR> <p> <STRONG>Fecha inicial </STRONG> <input type="date" name="XX/XX/XXXX" required></p>

<BR> <p> <STRONG>Fecha final </STRONG> <input type="date" name="XX/XX/XXXX" required></p>

<BR> <STRONG> N&uacute;mero de box: </STRONG> <BR> 

<BR>

<input type="checkbox" name="Box 1">Box 1
<input type="checkbox" name="Box 2">Box 2
<input type="checkbox" name="Box 3">Box 3
<input type="checkbox" name="Box 4">Box 4
<input type="checkbox" name="Box 5">Box 5
<input type="checkbox" name="Box 6">Box 6
<input type="checkbox" name="Box 7">Box 7
<input type="checkbox" name="Box 8">Box 8
<input type="checkbox" name="Box 9">Box 9
<input type="checkbox" name="Box 10">Box 10 
<input type="checkbox" name="Box 11">Box 11
<input type="checkbox" name="Box 12">Box 12

<BR>

<BR>

<input type="checkbox" name="Box 13">Box 13
<input type="checkbox" name="Box 14">Box 14
<input type="checkbox" name="Box 15">Box 15
<input type="checkbox" name="Box 16">Box 16
<input type="checkbox" name="Box 17">Box 17
<input type="checkbox" name="Box 18">Box 18
<input type="checkbox" name="Box 19">Box 19
<input type="checkbox" name="Box 20">Box 20
<input type="checkbox" name="Box 21">Box 21
<input type="checkbox" name="Box 22">Box 22
<input type="checkbox" name="Box 23">Box 23
<input type="checkbox" name="Box 24">Box 24


<BR>

<BR>

<BR> <STRONG> Tipo dispositivo </STRONG>

<BR>

<BR>

<input type="checkbox" name="Monitor Mindray">Monitor Mindray

<BR>

<input type="checkbox" name="Bombas Alaris">Bombas Alaris

<BR>

<input type="checkbox" name="Otros">Otros

<BR>

<BR>

</UL>

</UL>

<p>
	<input type="submit" value="Enviar">
    <input type="reset" value="Borrar">
</p>

<BR> Acceso directo a <A HREF= "http://intranet.hsjdbcn.org/">INTRANET</A>.

</BODY>

</HTML>