<!DOCTYPE html>
<html>
<head>
	<title> Resultados </title>
</head>
<body>
<h1> RESULTADOS OBTENIDOS</h1>

<p> Los resultados obtenidos seg&uacute;n tu b&uacute;squeda son: 

<hr>

<ul>

	<h3> Datos num&eacute;ricos: </h3>

		<p> Cantidad de alarmas total: {{XXXXXX}}

		<p> Cantidad de alarmas por boxes: {{XXXXX}}

		<p> Cantidad de alarmas por dispositivos: {{XXXXX}}


	<h3>
		{% for x in c %}
			<th>{{x}}</th>
		{% endfor %}
	</h3>
	<h3>
		{% for y in e %}
			<th>{{y}}</th>
		{% endfor %}
	</h3>
	<h2>{{c}}</h2>
	<h2>{{e}}</h2>
	<h2>{{dateInicial}}</h2>
	<h2>{{dateFinal}}</h2>
	<h2>{{prueba}}</h2>
	<h3> Datos gr&aacute;ficos: </h3>

		<p> Gr&aacute;fica ...

</body>
</html>